<div class="sticky">
  <!-- profile -->
  <div class="profile">
    <img src="assets/profile.png" alt="" />
    <h4>Akmal Nasrulloh</h4>
    <span>
      <i class="fa-solid fa-angle-down"></i>
    </span>
  </div>
  <!-- menu list -->
  <hr />
  <div class="list">
    <p>MENU</p>
    <ul>
      <li>
        <i class="fa-solid fa-angle-up"></i>
        <a>Overview</a>
      </li>
      <li>
        <i class="fa-solid fa-list"></i>
        <a>Trascation</a>
      </li>
      <li>
        <i class="fa-solid fa-chart-simple"></i>
        <a>Analytics</a>
      </li>
      <li>
        <i class="fa-regular fa-credit-card"></i>
        <a>Cards</a>
      </li>
    </ul>
  </div>
  <!-- general list -->
  <hr />
  <div class="list">
    <p>GENERAL</p>
    <ul>
      <li>
        <i class="fa-solid fa-gear"></i>
        <a>Settings</a>
      </li>
      <li>
        <i class="fa-solid fa-message"></i>
        <a>Help/Support</a>
      </li>
    </ul>
    <div class="themModeSwitch">
      <div class="modeSwitchText">
        <i class="fa-solid fa-moon"></i>
        <a>Dark Mode</a>
      </div>
      <label class="switch">
        <input type="checkbox" [checked]="false" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <hr />
  <!-- add box -->
  <div class="add">
    <span>
      <i class="fa-solid fa-circle-plus"></i>
      <p>New Payment</p>
    </span>
  </div>
</div>
