<div>
  <div class="heading">
    <p>My Card : 1 <span>/2</span></p>
    <span>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </span>
  </div>
  <div class="card">
    <img src="assets/card.png" alt="" />
    <div class="addnewcard">
      <i class="fa-solid fa-circle-plus"></i>
      <p>Add New Card</p>
    </div>
  </div>
  <hr />
  <div class="quickaction">
    <p>Quick Actions</p>
    <div class="quickbox">
      <span>
        <i class="far fa-plus-square"></i>
        <p>Top up</p>
      </span>
      <span class="midleicon">
        <i class="fab fa-telegram-plane"></i>
        <p>Transfer</p>
      </span>
      <span>
        <i class="fas fa-file-invoice-dollar"></i>
        <p>Withdrawal</p>
      </span>
    </div>
  </div>
  <hr />
  <div class="savingplan">
    <div class="heading">
      <p>Saving Plan</p>
      <i class="fa-solid fa-circle-plus"></i>
    </div>
    <div class="savingbox">
      <div class="items">
        <span>
          <i class="fa-regular fa-clock"></i>
        </span>
        <div class="name">
          <h3>New Watch</h3>
          <h4>Target $2000</h4>
        </div>
        <i class="fa-solid fa-ellipsis perNum"></i>
      </div>
      <div class="items">
        <p>Total: $1000</p>
        <p class="perNum">50%</p>
      </div>
      <div class="linepercentage">
        <div class="per"></div>
      </div>
    </div>
    <div class="savingbox">
      <div class="items">
        <span>
          <i class="fa-solid fa-gamepad"></i>
        </span>
        <div class="name">
          <h3>Play Station</h3>
          <h4>Target $2000</h4>
        </div>
        <i class="fa-solid fa-ellipsis perNum"></i>
      </div>
      <div class="items">
        <p>Total: $1000</p>
        <p class="perNum">50%</p>
      </div>
      <div class="linepercentage">
        <div class="per"></div>
      </div>
    </div>
  </div>
</div>
