/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: var(--main-theme-bg-color);
  color: var(--main-theme-color);
  font-size: small;
}

:root {
  --main-bg-color: white;
  --main-theme-color: #020e31;
  --main-theme-bg-color: rgb(223, 233, 233);
  --border-color: #00000041;
}
