/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  cursor: url('assets/cursorlogo.svg'), auto;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: var(--main-theme-bg-color);
  color: var(--main-theme-color);
  font-size: small;


}

:root {
  --main-bg-color: white;
  --main-theme-color: #101444;
  --main-theme-bg-color: #10144415;
  --border-color: #10144462;

}
