<div *ngIf="!loading">
  <!-- heading -->
  <div class="text">
    <p>Total Balance</p>
    <i class="fa-solid fa-ellipsis"></i>
  </div>
  <!-- balance -->
  <p class="Balance">${{ balance.total_balance | numberFormat }}</p>
  <div class="perbar">
    <div [style.width.%]="balance.payment_done_percentage" class="per"></div>
  </div>
  <!-- monthlimit  -->
  <div class="monthlimit">
    <p>Monthly payment limit</p>
    <p class="avilableamount">
      ${{ balance.payment_done_so_far | numberFormat }} /
      <span>${{ balance.monthly_payment_limit | numberFormat }} </span>
    </p>
  </div>
</div>
